# Compiled source
*.com
*.class
*.dll
*.exe
*.o
*.so
*.py[codt]
__pycache__

# OS generated
.DS_Store
**/.DS_Store
.DS_Store?
**/.DS_Store?
._*
**/.fuse_hidden*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# Editor generated
*.un~

# Unit testing output
reports/
screenshots/
htmlcov/
coverage/
coverage.xml
.coverage
.tox/
.pytest_cache/

# Other
data_export/
telepresence.log
lib/
node_modules/

# Certs
certs/

# Pyenv
.python-version

# PyCharm
.idea/

